#twoButtonsArea{
    margin-top: 20px;
}

#randomNumButton, #removeButton {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    padding: 4px 10px;
}

input{
    text-align: center;
    height: 25px;
    border: 1px solid black;
    color: black;
}

#randomNumInput{
    width: 50px;
}

.matched{
    background-color: rgb(127, 214, 107);
  
}

.cell:hover{
    background-color: lightsalmon;
}

.removed{
    background-color: rgb(251, 109, 109);
}